---
import "@/styles/globals.css";
import { GET } from "./api/getAllItems.json.ts";
import type { ItemObject } from "@/utils/constants";

let response = await GET(Astro);
const items = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Craft Lists</title>
  </head>
  <body class="p-8">
    <h1 class="text-center text-accent-foreground">Let's Craft!</h1>
    <ul>
      {
        items.map((item: ItemObject) => (
          <li>
            {item.item}, {item.rarity}
          </li>
        ))
      }
    </ul>
  </body>
</html>
