---
import "@/styles/global.css";
import "@fontsource/acme";
import { GET as getAllItems } from "./api/all-items.ts";
import ItemForm from "@/components/ItemForm.vue";

let response = await getAllItems(Astro);
const items = await response.json();
---

<html lang="en" class="bg-zinc-900 text-zinc-200">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Craft Lists</title>
  </head>
  <body class="py-8 px-6">
    <h1 class="text-center mb-4">Let's Craft in Lego Fortnite!</h1>
    <ItemForm client:load items={items} />
  </body>
</html>
