---
import "@/styles/globals.css";
import { GET as GETItems } from "./api/getAllItems.json.ts";
import type { ItemObject } from "@/utils/constants";

let response = await GETItems(Astro);
const items = await response.json();

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const itemsToBuild = data.get("buildItem");
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Craft Lists</title>
  </head>
  <body class="p-8">
    <h1 class="text-center text-accent-foreground mb-4">Let's Craft!</h1>

    <form method="POST">
      <fieldset class="border p-3.5">
        <legend>Select which items you'd like to craft:</legend>
        <div class="mb-4 grid">
          {
            items.map((item: ItemObject) => (
              <label class="mb-2">
                <input type="checkbox" name="buildItem" value={item.item} />
                {item.item} {item.rarity !== "N/A" ? `(${item.rarity})` : ""}
              </label>
            ))
          }
        </div>
        <div class="flex place-content-center">
          <button
            type="submit"
            class="bg-primary text-primary-foreground hover:bg-primary/90 p-2 rounded"
            >Submit form</button
          >
        </div>
      </fieldset>
    </form>
  </body>
</html>
